@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;

}

:root {
          /* Primary Color */
          --Red: hsl(0, 78%, 62%);
          --Cyan: hsl(180, 62%, 55%);
          --Orange: hsl(34, 97%, 64%);
          --Blue: hsl(212, 86%, 64%);

          /* Neutral Color */
          --Very-Dark-Blue: hsl(234, 12%, 34%);
          --Grayish-Blue: hsl(229, 6%, 66%);
          --Very-Light-Gray: hsl(0, 0%, 98%);

          /* Font */
          --Font-base1: 'Poppins', sans-serif;
}

/* Border Color Style */
#red {
          border-top: 5px solid var(--Red);
}

#blue {
          border-top: 5px solid var(--Blue);
}

#orange {
          border-top: 5px solid var(--Orange);
}

#cyan {
          border-top: 5px solid var(--Cyan);
}

body {
          background-color: var(--Very-Light-Gray);
          font-family: var(--Font-base1);
          
}

main {
          margin: 50px auto;
          /* max-width: 900px; */
          min-height: 100vh;
          /* border: 1px solid; */
          line-height: 1.5;
}


/* Heading */

.main_topic {
          width: 40%;
          margin: 1rem auto;
          padding: 0.5rem;
}

.heading {
          text-align: center;
          color: #333;
          font-weight: 200;
          font-size: 2.15rem;
}

.heading span {
          display: block;
          color: var(--Very-Dark-Blue);
          font-weight: 600;
          font-size: 2.15rem;
}

.intro {
          text-align: center;
          color: var(--Grayish-Blue);
          margin-top: 1rem;
          
}

/* Features */
.box {
          max-width: 350px;
          height: 250px;
          padding: 25px;
          position: relative;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
}

.boxes {
          display: flex;
          flex-direction: column;
          row-gap: 25px;
}

.card img {
          position: absolute;
          bottom: 25px;
          right: 25px;
}

.card p, .intro {
          font-weight: 200;
          font-size: 15px;
          color: var(--Grayish-Blue);
}

.card h3 {
          color: var(--Very-Dark-Blue);
          margin-bottom: 15px;
}

/* Responsive Card */
.container {
          width: 85%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin: 1rem auto;
          padding: 3rem 0;
}

/* RWD */
@media only screen and (max-width: 1300px) {

          .container {
                    flex-direction: column;
                    row-gap: 25px;
          }

          .main_topic {
                    width: 90%;
                    margin: 1rem auto;
          }

          .intro {
                    width: 300px;
                    margin: 1rem auto;
          }
        }